.heroes-filter {
    padding: 8px;
    background: black;
    color: white;
    position: relative;
    .btn {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 8px;
    }
    input {
        background: black;
        color: #BBB;
        text-indent: 14px;
        border: none;
        width: 100%;
    }
    input:focus {
        outline: none;
    }
}