.heroes-filter {
    padding: 4px;
    background: black;
    color: white;
    position: relative;
    .remove-filter {
        position: relative;
        top: 2px;
        left: 12px;
        cursor: pointer;
        font-size: 20px;
        color: white;
    }
    .btn {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 8px;
    }
    input {
        background: black;
        color: #BBB;
        text-indent: 14px;
        border: none;
        display: inline-block;
        width: 90%;
    }
    input:focus {
        outline: none;
    }
}