<div id="details-bar" [class]="'b-color-3-t '+animate()">
  <div class="wrapper" *ngIf="selected !== undefined">
    <span id="close" (click)="closeBar()" class="fa fa-window-close"></span>
    <div id="image" [class]="selected.getCssClass()" [style.background-image]="'url('+selected.getThumbnail()+')'">
      <h3>{{selected.name}}</h3>
    </div>
    <div class="p-4" id="main">
      <div id="description">
        <p class="description">{{selected.description ? selected.description : 'No Description Available in the DB.'}}</p>
      </div>
      <app-related-heroes [related]="getRelated()"></app-related-heroes>
      <div id="button-wrapper">
        <button [disabled]="loading() === true" class="btn b-color-1 btn-block" (click)="showDetails()">More Details</button>
      </div>
    </div>
  </div>
</div>