#details-bar {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 500px;
    z-index: 2000;
    margin-right: -505px;
    transition: margin-right 300ms;
    box-shadow: #333 -5px 2px 15px;
    #image {
        height: 33vh;
        position: relative;
        h3 {
            position: absolute;
            padding: 8px;
            font-size: 16px;
            bottom: 8px;
            right: 16px;
            background: #000;
            color: #FFF;
        }
    }
    .wrapper {
        position: relative;
        #close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            font-size: 24px;
            z-index: 4000;
            cursor: pointer;
            color: #ccc;
        }
        button {
            color: white;
        }
    }
}

#details-bar.ready {
    margin-right: 0;
}