@media (max-width: 732px) {
    #details-bar {
        width: 100% !important;
        margin-right: -737px !important;
    }
    #details-bar.ready {
        margin-right: 0 !important;
    }
}

#details-bar {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 500px;
    z-index: 2000;
    margin-right: -505px;
    transition: margin-right 300ms;
    box-shadow: #333 -5px 2px 15px;
    .favorite {
        padding: 20px;
        font-size: 50px;
        text-shadow: 0px 0px 6px #000;
    }
    #image.image-not-available {
        background: #CCC bottom left;
        background-size: cover;
    }
    #image.image-not-available2 {
        background: #CCC bottom right;
        background-size: cover;
    }
    #image {
        height: 25vh;
        background-position: center -40px;
        position: relative;
        h3 {
            position: absolute;
            padding: 8px;
            font-size: 16px;
            bottom: 8px;
            right: 16px;
            background: #000;
            color: #FFF;
        }
    }
    #main {
        overflow: hidden;
        .description {
            min-height: 120px;
        }
    }
    .wrapper {
        position: relative;
        height: 100%;
        #close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            font-size: 24px;
            z-index: 4000;
            cursor: pointer;
            color: #ccc;
        }
        #button-wrapper {
            position: absolute;
            bottom: 30px;
            padding: 0 20px;
            width: 100%;
            right: 0px;
            button {
                color: white;
            }
        }
    }
}

#details-bar.ready {
    margin-right: 0;
}