<div *ngIf="image" [class]="getClasses()">
  <span class="fa fa-star" *ngIf="isFavorite()"></span>
  <div class="fake-image" *ngIf="!imageLoaded">
    <span class="fa fa-spinner spin image-not-loaded"></span>
    <div class="wrapper">
      <div class="name">{{related.name}}</div>
    </div>
  </div>
  <div *ngIf="imageLoaded" (click)="select(related.id)" class="image" [style.background-image]="'url('+image+')'">
    <div class="wrapper p-1">
      <div class="name">{{related.name}}</div>
    </div>
  </div>
</div>

<img [style.display]="'none'" (load)="imageLoaded=true" [src]="image" />