.mini-card {
    position: relative;
    .fake-image {
        min-height: 100px;
        border: 1px solid #000;
        position: relative;
        background: #999;
        .fa-spinner {
            position: absolute;
            top: 20%;
            left: 45%
        }
    }
    .fa-star {
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 19px;
        text-shadow: 0px 0px 5px;
        color: #f9ca2c;
        z-index: 50;
    }
    .image {
        height: 100px;
        border: 1px solid black;
        background: top center;
        background-size: cover;
        cursor: pointer;
    }
    .wrapper {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        .name {
            padding: 4px;
            background: #000;
            color: #fff;
            width: 100%;
            font-size: 12px;
            overflow: hidden;
        }
    }
}

.mini-card.favorite {
    .wrapper {
        .name {
            padding: 4px;
            background: darken(#f9ca2c,10%);
            border-left: solid 1px #000;
            border-right: solid 1px #000;
            border-bottom: solid 1px #000;
            color: #333;
            font-weight: bold;
            width: 100%;
            font-size: 12px;
            overflow: hidden;
        }
    }
}

.mini-card:hover {
    background: #666;
}