#details {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    header {
        width: 100%;
        height: 80px;
        span#back {
            cursor: pointer;
        }
        span#back:hover {
            text-decoration: underline;
        }
        .separator {
            height: 8px;
        }
    }
    h3 {
        margin-bottom: 16px;
    }
    .main {
        #comic-container,
        .series-container {
            overflow: hidden;
        }
        .col-left {
            .favorite {
                padding: 20px;
                font-size: 50px;
                text-shadow: 0px 0px 6px #000;
            }
            .image-container {
                min-height: 30vh;
                width: 100%;
                background: center center;
                background-size: cover;
                margin-bottom: 20px;
            }
            .button-wrapper {
                margin: 20px 0;
                width: 100%;
                padding: 0 20px;
                button {
                    width: 100%;
                }
            }
        }
    }
}