body {
    background: #EEE;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: #999 0px 3px 5px 1px;
}
h1.main-title {
    padding: 8px 16px;
    color: #111;
    margin-bottom: 0;
}