@media (max-height: 666px) {
     #mini-cards-container {
        height: 148px !important;
    }
}

@media (min-height: 667px) {
    #mini-cards-container {
        height: 220px !important;
    }
}

@media (min-height: 668px) {
    #mini-cards-container {
        height: 45vh !important;
    }
}

#related-heroes {
    #mini-cards-container {
        overflow: scroll;
        overflow-x: hidden;
    }
    .loading {
        text-align: center;
        padding-top: 100px;
    }
}