@media (max-height: 666px) {
     #mini-cards-container {
        height: 148px !important;
    }
}

@media (min-height: 667px) {
    #mini-cards-container {
        height: 220px !important;
    }
}

@media (min-height: 668px) {
    #mini-cards-container {
        height: 45vh !important;
    }
}

#related-heroes {
    #mini-cards-container {
        overflow: scroll;
        overflow-x: hidden;
    }
     ::-webkit-scrollbar {
        width: 12px;
        /* for vertical scrollbars */
        height: 12px;
        /* for horizontal scrollbars */
    }
     ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
    }
     ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.5);
    }
    .loading {
        text-align: center;
        padding-top: 100px;
    }
}