.character-card {
    overflow: hidden;
    .main {
        border: #CCC 4px solid;
        .inner {
            height: 236px;
            background: #CCC center center;
            background-size: cover;
        }
    }
    .footer {
        padding: 8px;
        width: 100%;
        height: 40px;
        overflow: hidden;
        background-color: black;
        color: white;
        z-index: 1000;
    }
}