.character-card {
    overflow: hidden;
    box-shadow: #999 0px 3px 5px 1px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    .main {
        border: #CCC 4px solid;
        .inner {
            height: 236px;
            background: #CCC center center;
            background-size: cover;
        }
    }
    .footer {
        padding: 8px;
        width: 100%;
        height: 40px;
        overflow: hidden;
        background-color: black;
        color: white;
        z-index: 1000;
    }
}
.character-card:hover {
    box-shadow: darken(#d0021b,25%) 0px 3px 5px 1px;
    .footer {
        text-decoration: underline;
    }
}