.character-card {
    overflow: hidden;
    .main {
        padding: 8px;
        background-color: grey;
        height: 236px;
        overflow: hidden;
        text-align: center;
    }
    .footer {
        padding: 8px;
        width: 100%;
        height: 40px;
        overflow: hidden;
        background-color: black;
        color: white;
        z-index: 1000;
    }
}