<div [id]="'id-'+hero.id" class="character-card" (click)="showDetails(hero)">
  <div class="main">
    <img *ngIf="!imageLoaded" [style.display]="'none'" (load)="imageLoaded=true" [src]="hero.getThumbnail()" />
    <div *ngIf="imageLoaded" [class]="'inner '+hero.getCssClass()" [style.background-image]="'url('+hero.getThumbnail()+')'">
      <span *ngIf="hero.favorite === true" class="fa fa-star favorite"></span>
    </div>
    <div class="inner" *ngIf="!imageLoaded">
      <span class="fa fa-spinner spin image-not-loaded"></span>
      <span *ngIf="hero.favorite === true" class="fa fa-star favorite"></span>
    </div>
  </div>
  <div class="footer">{{hero.name}}</div>
</div>