$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome.scss';

.b-color-1 {
    background-color: #d0021b;
}

.b-color-2 {
    background-color: #000;
}

.b-color-3 {
    background-color: #e7b8bb;
}

.b-color-3-t {
    background-color: rgba(231, 184, 187, 0.9);
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    to {transform:rotate(359deg);}
}

.spin {
    animation: spin 1000ms linear infinite;
}