$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
.b-color-1 {
    background-color: #d0021b;
}

.b-color-2 {
    background-color: #000;
}

.b-color-3 {
    background-color: #e7b8bb;
}

.b-color-3-t {
    background-color: rgba(231, 184, 187, 0.9);
}

@-moz-keyframes spin {
    to {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(359deg);
    }
}

body {
    background: #DDD !important;
}

.favorite {
    color: #f9ca2c;
}

.spin {
    animation: spin 1000ms linear infinite;
}

.image-available {
    background: #CCC top center;
    background-size: cover;
}

.image-not-available {
    background: #CCC bottom left;
    background-size: cover;
}

.image-not-available2 {
    background: #CCC bottom right;
    background-size: cover;
}

button {
    cursor: pointer;
}

button.b-color-1 {
    color: white;
}

button.btn.b-color-1:hover {
    box-shadow: inset 0 0 13px 3px darken(#d0021b, 10%);
    transform: scale(0.99, 0.99);
}

.main-title {
    font-size: 28px;
    padding: 8px 16px;
    color: #111;
    margin-bottom: 0;
    background: #d0021b;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #d0021b, #666);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d0021b, #666);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #d0021b, #666);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d0021b, #666);
    /* Standard syntax */
}

 ::-webkit-scrollbar {
    width: 12px;
    /* for vertical scrollbars */
    height: 12px;
    /* for horizontal scrollbars */
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

 ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}