#loading-modal {
    top: 50%;
    position: fixed;
    opacity: 0.8;
    font-size: 38px;
    text-align: center;
    width: 100%;
    text-align: center;
    .wrapper {
        border-radius: 10px;
        margin: 0 auto;
        padding: 40px 50px;
        background: #AAA;
        display: inline-block;
    }
}